<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mobile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/style2.css" />
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body id="body-tetriz" class="m-0 p-0" style="height: 100%; width: 100%">
    <div id='container' class="row" style="height: 100%; width: 100%">

        <!-- LEFT COLUMN -->
        <div id="left-cont" class="h-100 col-4 row m-0 p-0 justify-content-between">
            <!-- left button -->
            <div id="left" class="col-4 d-flex align-items-center justify-content-end">
                <i class="fas fa-caret-left fa-8x button"></i>
            </div>
            <!-- up and down buttons -->
            <div class="col-4 row d-flex align-items-end justify-content-center">
                <!-- up btn -->
                <div class="d-flex align-items-end h-50"></div>
                <!-- down btn -->
                <div id="down" class="d-flex align-items-start h-50">
                    <i class="fas fa-caret-down fa-8x button"></i>
                </div>
            </div>
            <!-- right button -->
            <div id="right" class="col-4 d-flex align-items-center">
                <i class="fas fa-caret-right fa-8x button"></i>
            </div>
        </div>

        <!-- MIDDLE COLUMN -->
        <div class="h-100 pl-1 pr-1 col-4">
            <div class="h-75 m-0 pt-1">
                <div class="bg-dark col-12 mb-1 h-25 rounded"></div>
                <h1 style="font-family: 'Bungee Shade', cursive; color: #4dffce; font-size: 2.5em;" class="text-center">TETRIZ</h1>
                <div style="height: 5%;" class="col-12 bg-dark mb-2 rounded"></div>
                <div style="height: 5%; background-color: #fe7e00" class="col-12 mb-2 rounded"></div>
                <div style="height: 5%; background-color: #73278f" class="col-12 mb-2 rounded"></div>
                <div style="height: 5%; background-color: #f7f909" class="col-12 mb-2 rounded"></div>
                <div style="height: 5%; background-color: #4dffce" class="col-12 mb-2 rounded"></div>
            </div>
            <div class="col d-flex justify-content-around m-0 p-0">
                <a id="select" class="pill button" href="#">Start</a>

                <a id="start" class="pill button" href="#">Pause</a>
            </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="d-flex h-100 p-0 m-0 col-4">
            <div id="turn" class="col-6 d-flex align-items-center justify-content-end">
                <i style="color: rgb(192,3,16);" class="button border border-secondary rounded-circle btn-rotate-1 fas fa-circle fa-5x"></i>
            </div>
            <div id="turn2" class="col-6 d-flex align-items-center justify-content-center">
                <i style="color:green;" class="button border border-secondary rounded-circle btn-rotate-2 fas fa-circle fa-5x"></i>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var lastTouchEnd = 0;
        document.addEventListener('touchend', function (event) {
            var now = (new Date()).getTime();
            if (now - lastTouchEnd <= 200) {
                event.preventDefault();
            }
            lastTouchEnd = now;
        }, false);

        alert("Tournez votre téléphone en mode paysage puis cliquez sur OK");
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        document.getElementById('left').addEventListener('click', function () {
            socket.emit('command', 'left');
            navigator.vibrate(100);

        })
        document.getElementById('right').addEventListener('click', function () {
            socket.emit('command', 'right');
            navigator.vibrate(100);

        })
        document.getElementById('turn').addEventListener('click', function () {
            socket.emit('command', 'turn');
            navigator.vibrate(100);

        })
        document.getElementById('turn2').addEventListener('click', function () {
            socket.emit('command', 'turn2');
            navigator.vibrate(100);

        })
        document.getElementById('down').addEventListener('click', function () {
            socket.emit('command', 'down');
            navigator.vibrate(100);

        })
        document.getElementById('start').addEventListener('click', function () {
            socket.emit('command', 'start');
            navigator.vibrate(100);

        })
        document.getElementById('select').addEventListener('click', function () {
            socket.emit('command', 'select');
            navigator.vibrate(100);
            var elem = document.getElementById("body-tetriz");
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
                elem.webkitRequestFullscreen();
            }
        })
    </script>
</body>

</html>